<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.jdk.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.db.jdk.entity.Course">
            <id property="cid" column="cid" jdbcType="BIGINT"/>
            <result property="cname" column="cname" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="cstatus" column="cstatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cid,
        cname,
        user_id,
        cstatus
    </sql>
</mapper>
